<h1>{{event_title}}</h1>
<p>Posted By: {{event_author}}</p>
<p>Location: {{location_name}}, {{zip_code}}</p>
<p>Details: {{event_content}}</p>
<div>
  <h2></h2>
  <ul>
      {{#each event_attendees as |attendee|}}
          <li>{{attendee}}</li>
      {{/each}}
  </ul>
</div>
